body{
    background-color: darkseagreen;
}

.square{
   width: calc(100% / 10);
   aspect-ratio: 1;
   padding: 2rem;
   border: 1px solid black;
   background-color: lightskyblue; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
}

.fizz{
    background-color: greenyellow;
}

.buzz{
    background-color:goldenrod;
}

.fizzbuzz{
    background-color: red;
}